.container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 1rem;
    position: relative;
    z-index: 1;
    margin-top: -12rem;
    /* background-color: rgb(234, 237, 237); */
    
}
.d-block{
    
    mask-image: linear-gradient(rgba(0, 0, 0, 1.0), transparent);
}
